<div class="jumbotron jumbotron-fluid">
  <h1 class="display-6 text-center mb-3">Categories</h1>
  <div class="container mt-4">
    <div class="row border rounded-lg mt-1" id="list-item">
      <div class="col my-auto">
        <p>Javascript</p>
      </div>
      <div class="col text-right">
        <button
          mdbBtn
          type="button"
          color="primary"
          size="sm"
          rounded="true"
          mdbWavesEffect
        >
          Edit
        </button>
        <button
          mdbBtn
          type="button"
          color="danger"
          size="sm"
          rounded="true"
          mdbWavesEffect
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</div>
<div class="row fixed-bottom mb-3">
  <div class="col text-center">
    <button mdbBtn type="button" color="indigo" rounded="true" mdbWavesEffect>
      <mdb-icon fas icon="plus" size="2x"></mdb-icon>
    </button>
  </div>
</div>
