<div class="jumbotron jumbotron-fluid">
  <h1 class="display-6 text-center mb-3">Categories</h1>
  <div class="container">
    <div
      *ngIf="!categories"
      class="alert alert-danger text-center"
      role="alert"
    >
      Server Response Error
    </div>
  </div>
  <div *ngIf="categories">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div *ngIf="!willUpdate" class="md-form mt-5">
            <input
              mdbInput
              type="text"
              class="form-control"
              id="cat_title"
              [value]="categoryTitle"
              (input)="categoryTitle = $event.target.value"
              (keyup.enter)="createCategory()"
            />
            <label for="cat_title">Add Category</label>
          </div>
          <div *ngIf="willUpdate" class="md-form mt-5">
            <input
              mdbInput
              type="text"
              class="form-control"
              id="cat_title"
              [value]="categoryTitle"
              (input)="categoryTitle = $event.target.value"
              (keyup.enter)="updateCategory()"
            />
            <label for="cat_title">Update Category</label>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div
        class="row border rounded-lg mt-1"
        id="list-item"
        *ngFor="let category of categories"
      >
        <div class="col my-auto">
          <p>{{ category.title }}</p>
        </div>
        <div class="col text-right">
          <button
            mdbBtn
            type="button"
            color="primary"
            size="sm"
            rounded="true"
            mdbWavesEffect
            (click)="onEdit(category.id); categoryTitle = category.title"
          >
            Edit
          </button>
          <button
            mdbBtn
            type="button"
            color="danger"
            size="sm"
            rounded="true"
            mdbWavesEffect
            (click)="onDelete(category.id)"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
