<h1 class="display-6 text-center mb-3">Posts</h1>

<div class="container">
  <div *ngIf="!posts" class="alert alert-danger text-center" role="alert">
    Server Response Error
  </div>
</div>
<div class="container">
  <div class="row justify-content-between">
    <div class="col">
      <button
        mdbBtn
        type="button"
        color="indigo"
        mdbWavesEffect
        (click)="navigateToAddPost()"
      >
        Add Post
      </button>
      <div class="md-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
        />
        <label for="search">Search</label>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <label for="list-order" style="color: #757575;">Order by:</label>
      <select
        class="browser-default custom-select"
        id="list-order"
        name="list-order"
        (change)="sortPost($event.target.value)"
      >
        <option value="newest">Newest</option>
        <option value="oldest">Oldest</option>
        <option value="a-z">A-Z</option>
        <option value="z-a">Z-A</option>
      </select>
    </div>
  </div>
</div>
<div *ngIf="posts">
  <div class="container mb-3">
    <div class="row">
      <div class="col">
        <app-post
          *ngFor="let post of posts"
          [post]="post"
          (deletePost)="deletePost($event)"
        ></app-post>
      </div>
    </div>
  </div>
</div>
