<mdb-card class="mt-3">
  <mdb-card-body>
    <mdb-card-title>
      <h3>{{ post.title }}</h3>
      <p id="date">on {{ post.updatedAt | date: "yyyy.MM.dd HH:mm" }}</p>
      <p>by {{ post.author }}</p>
    </mdb-card-title>

    <mdb-card-text>
      {{ post.content }}
    </mdb-card-text>
    <mdb-badge *ngFor="let tag of tags" pill="true" color="amber darken-2">{{
      tag
    }}</mdb-badge>
    <!-- <p>
      <small>{{ post.tags }}</small>
    </p> -->
  </mdb-card-body>
  <mdb-card-footer class="text-right">
    <button
      type="button"
      mdbBtn
      color="secondary"
      size="sm"
      mdbWavesEffect
      (click)="showDetails(post.id)"
    >
      Details
    </button>
  </mdb-card-footer>
</mdb-card>
