<mdb-card class="mt-3">
  <mdb-card-body>
    <mdb-card-title>
      <h4>{{ post.title }}</h4>
      <p id="date">on {{ post.createdAt | date: "yyyy.MM.dd HH:mm" }}</p>
      <p>by {{ post.author }}</p>
    </mdb-card-title>

    <mdb-card-text>
      {{ post.content }}
    </mdb-card-text>
    <p>
      <small>{{ post.tags }}</small>
    </p>
  </mdb-card-body>
  <mdb-card-footer class="text-right">
    <button
      type="button"
      mdbBtn
      color="secondary"
      size="sm"
      mdbWavesEffect
      (click)="showDetails(post.id)"
    >
      Details
    </button>
    <button type="button" mdbBtn color="primary" size="sm" mdbWavesEffect>
      Edit
    </button>
    <button type="button" mdbBtn color="danger" size="sm" mdbWavesEffect>
      Delete
    </button>
  </mdb-card-footer>
</mdb-card>
